/* --- MOBILE STYLES --- */

.landing .name {
  font-size: 48px;
}

.landing .description {
  font-size: 22px;
}

.landingImage {
  right: 0px;
}

.skillsAnimation {
  width: 200px;
}


/* --- MEDIA QUERIES --- */

@media (min-width: 750px) {
  .landing .name {
    font-size: 70px;
  }

  .landing .description {
    font-size: 32px;
  }

  .landingImage {
    bottom: 0;
    right: 80px;
  }

  .landing .socialIcons {
    display: flex;
    position: absolute;
    flex-direction: column;
    bottom: 50px;
    left: 20px
  }
}